## Calculating Portfolio Risk

Calculate the risk of an equally weighted portfolio composed of Microsoft and Apple. The data can be obtained from Yahoo Finance for the period 1st of January 2007 until today.

*Hint: The code we went through in the lecture is what you need here. You will need to import the data first. The previous lessons could be a good reference point for that! :) *

In [3]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

tickers = ['MSFT', 'AAPL']

sec_data = pd.DataFrame()

for t in tickers:
    sec_data[t] = wb.DataReader(t, data_source='yahoo', start='2007-1-1')['Adj Close']

sec_returns = np.log(sec_data / sec_data.shift(1))
sec_returns

                MSFT      AAPL
Date
2007-01-03       NaN       NaN
2007-01-04 -0.001676  0.021953
2007-01-05 -0.005719 -0.007147
2007-01-08  0.009736  0.004926
2007-01-09  0.001002  0.079800
...              ...       ...
2020-12-22  0.006047  0.028067
2020-12-23 -0.013125 -0.007000
2020-12-24  0.007797  0.007683
2020-12-28  0.009873  0.035141
2020-12-29  0.002832  0.003723

[3523 rows x 2 columns]

## MSFT

In [4]:
sec_returns['MSFT'].mean()

0.000660742290270612

In [5]:
sec_returns['MSFT'].mean() * 250

0.16518557256765298

In [6]:
sec_returns['MSFT'].std()

0.017918866953269306

In [7]:
sec_returns['MSFT'].std() * 250 ** 0.5

0.2833221633092648

## Apple

In [8]:
sec_returns['AAPL'].mean()

0.0011280393946099241

In [9]:
sec_returns['AAPL'].mean() * 250

0.282009848652481

In [10]:
sec_returns['AAPL'].std()

0.020552188696959767

In [11]:
sec_returns['AAPL'].std() * 250 ** 0.5

0.32495863591980473

***

## Covariance and Correlation


\begin{eqnarray*}
Covariance Matrix: \  \   
\Sigma = \begin{bmatrix}
        \sigma_{1}^2 \ \sigma_{12} \ \dots \ \sigma_{1I} \\
        \sigma_{21} \ \sigma_{2}^2 \ \dots \ \sigma_{2I} \\
        \vdots \ \vdots \ \ddots \ \vdots \\
        \sigma_{I1} \ \sigma_{I2} \ \dots \ \sigma_{I}^2
    \end{bmatrix}
\end{eqnarray*}

*****

Covariance matrix:

***

In [14]:
cov_matrix = sec_returns.cov()
cov_matrix

          MSFT      AAPL
MSFT  0.000321  0.000201
AAPL  0.000201  0.000422

In [15]:
cov_matrix = sec_returns.cov() * 250
cov_matrix

          MSFT      AAPL
MSFT  0.080271  0.050184
AAPL  0.050184  0.105598

Correlation matrix:

In [13]:
corr_matrix = sec_returns.corr()
corr_matrix

          MSFT      AAPL
MSFT  1.000000  0.545072
AAPL  0.545072  1.000000

## Calculating Portfolio Risk

Equal weigthing scheme:

In [16]:
weights = np.array([0.5, 0.5])

Portfolio Variance:

In [18]:
pfolio_var = np.dot(weights.T, np.dot(sec_returns.cov() * 250, weights))
pfolio_var

0.0715592307244908

Portfolio Volatility:

In [19]:
pfolio_vol = (np.dot(weights.T, np.dot(sec_returns.cov() * 250, weights))) ** 0.5
pfolio_vol

0.26750557138962694

In [20]:
print(str(round(pfolio_vol, 5) * 100) + '%')

26.751%