## Calculating the Risk of a Security

*Suggested Answers follow (usually there are multiple ways to solve a problem in Python).*

Download the data for Microsoft (‘MSFT’) from Yahoo Finance for the period ‘2000-1-1’ until today. <br />
Assess the daily and the annual risk of ‘MSFT’. Repeat the exercise for Apple for the same timeframe.

In [21]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

tickers = ['MSFT', 'AAPL']

sec_data = pd.DataFrame()

for t in tickers:
    sec_data[t] = wb.DataReader(t, data_source='yahoo', start='2000-1-1')['Adj Close']


sec_returns = np.log(sec_data / sec_data.shift(1))
sec_returns

                MSFT      AAPL
Date
2000-01-03       NaN       NaN
2000-01-04 -0.034364 -0.088078
2000-01-05  0.010488  0.014528
2000-01-06 -0.034072 -0.090514
2000-01-07  0.012983  0.046281
...              ...       ...
2020-12-22  0.006047  0.028067
2020-12-23 -0.013125 -0.007000
2020-12-24  0.007797  0.007683
2020-12-28  0.009873  0.035141
2020-12-29  0.004480  0.004276

[5282 rows x 2 columns]

### MSFT

Daily risk:

In [30]:
sec_returns['MSFT'].std()

0.019488868995116607

Annual risk:

In [32]:
sec_returns['MSFT'].std() * 250 ** 0.5

0.3081460752260271

### Apple

Daily risk:

In [34]:
sec_returns['AAPL'].std()

0.026567761639966544

Annual risk:

In [33]:
sec_returns['AAPL'].std() * 250 ** 0.5

0.42007319557372313

******

Store the volatilities of the two stocks in an array called “vols”.

In [35]:
vols = sec_returns[['MSFT','AAPL']].std() * 250 ** 0.5
vols

MSFT    0.308146
AAPL    0.420073
dtype: float64

How are the two risk values different?