## Calculating Covariance and Correlation

Consider a portfolio composed of *Walmart* and *Facebook*. Do you expect the returns of these companies to show high or low covariance? Or, could you guess what the correlation would be? Will it be closer to 0 or closer to 1?

Begin by extracting data for Walmart and Facebook from the 1st of January 2015 until today.

In [3]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

tickers = ['WMT', 'FB']

sec_data = pd.DataFrame()

for t in tickers:
    sec_data[t] = wb.DataReader(t, data_source='yahoo', start='2015-1-1')['Adj Close']

sec_returns = np.log(sec_data / sec_data.shift(1))
sec_returns

                 WMT        FB
Date
2015-01-02       NaN       NaN
2015-01-05 -0.002915 -0.016191
2015-01-06  0.007676 -0.013565
2015-01-07  0.026186  0.000000
2015-01-08  0.020887  0.026309
...              ...       ...
2020-12-22 -0.012200 -0.021117
2020-12-23 -0.006819  0.003812
2020-12-24  0.001953 -0.002652
2020-12-28  0.011915  0.035272
2020-12-29 -0.003933  0.002056

[1509 rows x 2 columns]

Repeat the process we went through in the lecture for these two stocks. How would you explain the difference between their means and their standard deviations?

In [4]:
sec_returns[['WMT','FB']].mean() * 250

WMT    0.110742
FB     0.209485
dtype: float64

In [5]:
sec_returns[['WMT','FB']].std() * 250 ** 0.5

WMT    0.218578
FB     0.319033
dtype: float64

***

## Covariance and Correlation


\begin{eqnarray*}
Covariance Matrix: \  \   
\Sigma = \begin{bmatrix}
        \sigma_{1}^2 \ \sigma_{12} \ \dots \ \sigma_{1I} \\
        \sigma_{21} \ \sigma_{2}^2 \ \dots \ \sigma_{2I} \\
        \vdots \ \vdots \ \ddots \ \vdots \\
        \sigma_{I1} \ \sigma_{I2} \ \dots \ \sigma_{I}^2
    \end{bmatrix}
\end{eqnarray*}

Covariance matrix:

In [6]:
cov_matrix = sec_returns.cov() * 250
cov_matrix

          WMT        FB
WMT  0.047777  0.016768
FB   0.016768  0.101782

Correlation matrix:

In [7]:
corr_matrix = sec_returns.corr()
corr_matrix

          WMT        FB
WMT  1.000000  0.240451
FB   0.240451  1.000000

Would you consider investing in such a portfolio?