## Diversifiable and Non-Diversifiable Risk of a Portfolio

Import the same dataset we used in the previous lecture – Microsoft and Apple stock, downloaded from Yahoo Finance. Timeframe – 1st of January 2007 until today. <br />
*Hint: To save time, we have written the code you need!*

In [12]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

tickers = ['MSFT', 'AAPL']
sec_data = pd.DataFrame()
for t in tickers:
    sec_data[t] = wb.DataReader(t, data_source='yahoo', start='2007-1-1')['Adj Close']
    
sec_data

                  MSFT        AAPL
Date
2007-01-03   22.012707    2.581791
2007-01-04   21.975842    2.639096
2007-01-05   21.850521    2.620302
2007-01-08   22.064304    2.633242
2007-01-09   22.086433    2.851985
...                ...         ...
2020-12-22  223.940002  131.880005
2020-12-23  221.020004  130.960007
2020-12-24  222.750000  131.970001
2020-12-28  224.960007  136.690002
2020-12-29  225.164993  136.869995

[3523 rows x 2 columns]

Then, calculate the diversifiable and the non-diversifiable risk of a portfolio, composed of these two stocks:

a) with weights 0.5 and 0.5;

In [15]:
sec_returns = np.log(sec_data / sec_data.shift(1))
sec_returns

                MSFT      AAPL
Date
2007-01-03       NaN       NaN
2007-01-04 -0.001676  0.021953
2007-01-05 -0.005719 -0.007147
2007-01-08  0.009736  0.004926
2007-01-09  0.001002  0.079800
...              ...       ...
2020-12-22  0.006047  0.028067
2020-12-23 -0.013125 -0.007000
2020-12-24  0.007797  0.007683
2020-12-28  0.009873  0.035141
2020-12-29  0.000911  0.001316

[3523 rows x 2 columns]

### Calculating Portfolio Variance

Equal weightings scheme:

In [14]:
weights = np.array([0.5, 0.5])

346453.0296105277

Portfolio Variance:

In [16]:
pfolio_var = np.dot(weights.T, np.dot(sec_returns.cov() * 250, weights))
pfolio_var

0.07155883092895995

### Calculating Diversifiable and Non-Diversifiable Risk of a Portfolio

Diversifiable Risk:

In [18]:
PG_var_a = sec_returns.var() * 250
PG_var_a

MSFT    0.080271
AAPL    0.105598
dtype: float64

Or:

In [26]:
MSFT_var_a = sec_returns['MSFT'].var() * 250
AAPL_var_a = sec_returns['AAPL'].var() * 250
print(MSFT_var_a,AAPL_var_a)

0.08027111798713932 0.10559763946237548

Calculating Diversifiable Risk:

In [23]:
dr = pfolio_var - (weights[0] ** 2 * MSFT_var_a) - (weights[1] ** 2 * AAPL_var_a)
dr

0.025091641566581255

Calculating Non-Diversifiable Risk:

In [24]:
n_dr_1 = pfolio_var - dr
n_dr_1

0.0464671893623787

*****

b)	With weights 0.2 for Microsoft and 0.8 for Apple.

### Calculating Portfolio Variance

In [35]:
weights_2 = np.array([0.2, 0.8])

Portfolio Variance:

In [36]:
pfolio_var = np.dot(weights.T, np.dot(sec_returns.cov() * 250, weights_2))
pfolio_var

0.07535780915024537

### Calculating Diversifiable and Non-Diversifiable Risk of a Portfolio

Calculating Diversifiable Risk:

In [37]:
dr = pfolio_var - (weigths_2[0] ** 2 * MSFT_var_a) - (weights_2[1] ** 2 * AAPL_var_a)
dr

0.004564475174839475

Calculating Non-Diversifiable Risk:

In [38]:
n_dr_1 = pfolio_var - dr
n_dr_1

0.0707933339754059