## Importing and Organizing Your Data in Python - Part III

Save the data obtained in the previous exercise as a csv file. Then, save it in an excel format. <br /> 
Do you remember which library can help you do that? Don’t forget to import it first!

In [7]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb

new_data = pd.DataFrame()
tickers = ['AAPL','MSFT','XOM','BP']
for t in tickers:
    new_data[t]= wb.DataReader(t,data_source='yahoo', start='2015-1-1')['Close']

In [6]:
new_data

                  AAPL        MSFT        XOM         BP
Date
2015-01-02   27.332500   46.759998  92.830002  38.119999
2015-01-05   26.562500   46.330002  90.290001  36.099998
2015-01-06   26.565001   45.650002  89.809998  35.830002
2015-01-07   26.937500   46.230000  90.720001  35.919998
2015-01-08   27.972500   47.590000  92.230003  36.730000
...                ...         ...        ...        ...
2020-12-17  128.699997  219.419998  43.480000  21.900000
2020-12-18  126.660004  218.589996  42.730000  21.740000
2020-12-21  128.229996  222.589996  41.950001  20.680000
2020-12-22  131.880005  223.940002  41.240002  20.480000
2020-12-23  130.960007  221.020004  41.770000  21.209999

[1506 rows x 4 columns]

In [20]:
new_data.to_csv('D:/SD')

PermissionError: [Errno 13] Permission denied: 'D:/SD'

In [8]:
new_data.toexcel('C:\Users\sebastiaan.dekker\OneDrive - Polaroid\Documents\Python\Tasks\Python for Finance - Notebook archive\57 Importing Data - Part III')

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (<ipython-input-8-22bf08cf2f9c>, line 1)