## Importing and Organizing Your Data in Python - Part I

*Suggested Answers follow (usually there are multiple ways to solve a problem in Python).*

a. Create a series object of 10 randomly generated integer values.

In [13]:
import numpy as np
import pandas as pd

In [16]:
ser = pd.Series(np.random.randint(10, size = 10, dtype = 'int'), name = 'Column 1')

In [17]:
ser

0    3
1    0
2    2
3    3
4    8
5    8
6    6
7    9
8    5
9    7
Name: Column 1, dtype: int32

b. Extract data from IEX for Ford from the 1st of January 2015. The ticker you need is ‘F’.

In [19]:
from pandas_datareader import data as wb

In [24]:
PG = wb.DataReader('F', data_source='yahoo', start='2015-1-1')

In [26]:
PG

             High    Low   Open  Close      Volume  Adj Close
Date
2015-01-02  15.65  15.18  15.59  15.36  24777900.0  11.190040
2015-01-05  15.13  14.69  15.12  14.76  44079700.0  10.752932
2015-01-06  14.90  14.38  14.88  14.62  32981600.0  10.650939
2015-01-07  15.09  14.77  14.78  15.04  26065300.0  10.956917
2015-01-08  15.48  15.23  15.40  15.42  33943400.0  11.233754
...           ...    ...    ...    ...         ...        ...
2020-12-17   9.13   9.00   9.09   9.08  49301600.0   9.080000
2020-12-18   9.09   8.91   9.09   8.95  78764600.0   8.950000
2020-12-21   9.01   8.79   8.87   8.93  63908100.0   8.930000
2020-12-22   8.99   8.75   8.98   8.79  59031200.0   8.790000
2020-12-23   9.03   8.80   8.82   8.99  50823539.0   8.990000

[1506 rows x 6 columns]