## Simpler Returns - Part I

Download the data for Microsoft (‘MSFT’) from Yahoo Finance for the period ‘2000-1-1’ until today.

In [4]:
import numpy as np
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

MS = wb.DataReader('MSFT', data_source='yahoo', start='2000-1-1')

Apply the .**head()** and **.tail()** methods to check if the data is ok. Always pay attention to the dates. Try to get an idea about how the stock price changed during the period.

In [6]:
MS.head()

               High       Low      Open     Close      Volume  Adj Close
Date
2000-01-03  59.3125  56.00000  58.68750  58.28125  53228400.0  37.102634
2000-01-04  58.5625  56.12500  56.78125  56.31250  54119000.0  35.849308
2000-01-05  58.1875  54.68750  55.56250  56.90625  64059600.0  36.227283
2000-01-06  56.9375  54.18750  56.09375  55.00000  54976600.0  35.013741
2000-01-07  56.1250  53.65625  54.31250  55.71875  62013600.0  35.471302

In [7]:
MS.tail()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-12-21,224.000000,217.279999,217.550003,222.589996,37181900.0,222.589996
2020-12-22,225.630005,221.850006,222.690002,223.940002,22612200.0,223.940002
2020-12-23,223.559998,220.800003,223.110001,221.020004,18699600.0,221.020004
2020-12-24,223.610001,221.199997,221.419998,222.750000,10550600.0,222.750000
2020-12-28,226.029999,223.020004,224.449997,224.960007,17911100.0,224.960007

### Simple Rate of Return

Calculate the simple returns of ‘MSFT’ for the given timeframe.

$$
\frac{P_1 - P_0}{P_0} = \frac{P_1}{P_0} - 1
$$

In [11]:
MS['simple_return'] = (MS['Adj Close'] / MS['Adj Close'].shift(1)) - 1
print(MS['simple_return'])

Date
2000-01-03         NaN
2000-01-04   -0.033780
2000-01-05    0.010543
2000-01-06   -0.033498
2000-01-07    0.013068
                ...
2020-12-21    0.018299
2020-12-22    0.006065
2020-12-23   -0.013039
2020-12-24    0.007827
2020-12-28    0.009921
Name: simple_return, Length: 5281, dtype: float64